body,
html {
	font-family: 'Crimson Text', serif;
	height: 100%;
}

/* The hero image */
.hero-image {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../assets/hero1.jpg');

	/* Set a specific height */
	height: 80%;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Place text in the middle of the image */
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

h1 {
	font-size: 60px;
}

p {
	font-size: 16px;
}

.btn-hero {
	background-color: rgb(230, 128, 123);
	color: white;
	font-size: 25px;
}


.button-container{
	text-align: center;
}

.social-menu li {
	display: inline-block;	
}

.icon-size {
	width: 27px;	
}

.social-container {
	text-align: center;
	margin-top: 20px;
}

.card {
	border: 0;
	
	align-items: center;
}

.card-deck {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.card img{
    height: 200px;
}
